* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Pattaya", sans-serif;
}

#image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#current-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#info-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 20px;
  text-align: center;
  border-radius: 100px;
  font-size: 40px;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  @media (width >=768px) and (width < 1440px) {
    width: 500px;
    height: 400px;
    font-size: 64px;
  }

  @media (width >=1440px) {
    width: 1200px;
    height: 400px;
    font-size: 124px;
  }
}

#info-container.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.info-style-1 {
  background-color: rgba(102, 170, 102, 0.6);
  color: white;
}

.info-style-2 {
  background-color: rgba(149, 149, 246, 0.6);
  color: rgb(44, 3, 41);
}

.info-style-3 {
  color: rgb(222, 222, 32);
  background-color: rgba(248, 75, 75, 0.6);
}

.info-style-4 {
  background-color: rgba(248, 75, 75, 0.6);
  color: #fff;
  cursor: pointer;
}

#info-container.second-to-last {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 200px;
  height: 200px;
  font-size: 34px;
  color: #fff;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  @media (width >=768px) and (width < 1440px) {
    width: 300px;
    height: 300px;
    left: 15%;
    top: 60%;
    font-size: 54px;
  }

  @media (width >=1440px) {
    width: 500px;
    height: 500px;
    top: 40%;
    left: 80%;
    font-size: 94px;
  }
}

@keyframes rainbowWave {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

#info-container.wave-effect {
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  animation: rainbowWave 6s ease infinite;
  transition: background 1s ease;
  border-radius: 50%;
  opacity: 1;
}

.info-style-5 {
  background: transparent !important;
}

.hidden {
  display: none;
}

#last-image-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.coin {
  background-image: url("../images/coin.png");
  background-size: cover;
  width: 100px;
  height: 100px;

  @media (width >=768px) and (width < 1440px) {
    width: 150px;
    height: 150px;
  }

  @media (width >=1440px) {
    width: 250px;
    height: 250px;
  }
}

.arrow {
  background-image: url("../images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;

  @media (width >=768px) and (width < 1440px) {
    width: 150px;
    height: 150px;
  }

  @media (width >=1440px) {
    width: 250px;
    height: 250px;
  }
}

.gift {
  background-image: url("../images/gift.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;

  @media (width >=768px) and (width < 1440px) {
    width: 150px;
    height: 150px;
  }

  @media (width >=1440px) {
    width: 250px;
    height: 250px;
  }
}
